.config {
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: #232323;
	border-radius: 10px;
	summary {
		cursor: pointer;
	}
	fieldset {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	&[open] {
		summary {
			margin-bottom: 10px;
		}
	}
}
