// 文本溢出显示省略号（默认1行）
@mixin text-ellipsis($row: 1) {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    line-clamp: $row;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
