body {
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border: none;
}
legend {
	padding-left: 0;
	padding-right: 0;
}
menu {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
li {
	list-style: none;
}
h1 {
	margin-top: 0;
	margin-bottom: 0;
}
h2 {
	margin-top: 0;
	margin-bottom: 0;
}
h3 {
	margin-top: 0;
	margin-bottom: 0;
}
h4 {
	margin-top: 0;
	margin-bottom: 0;
}
h5 {
	margin-top: 0;
	margin-bottom: 0;
}
h6 {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
a {
	color: #000;
	text-decoration: none;
}
input {
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
}
select {
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
}
textarea {
	border: none;
	outline: none;
	background-color: transparent;
}
button {
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	&:disabled {
		cursor: not-allowed;
	}
}
figure {
	margin: 0;
}
img {
	border: none;
}
[popover] {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	overflow: visible;
}
