:root {
	--info-color: #919399;
	--primary-color: #1677ff;
	--success-color: #67c23a;
	--warning-color: #e6a23c;
	--danger-color: #f56c6c;
	--lighten-info-color: color-mix(in srgb, var(--info-color), white 20%);
	--darken-info-color: color-mix(in srgb, var(--info-color), black 20%);
	--lighten-primary-color: color-mix(in srgb, var(--primary-color), white 20%);
	--lightest-primary-color: color-mix(in srgb, var(--primary-color), white 80%);
	--darken-primary-color: color-mix(in srgb, var(--primary-color), black 20%);
	--lighten-success-color: color-mix(in srgb, var(--success-color), white 20%);
	--darken-success-color: color-mix(in srgb, var(--success-color), black 20%);
	--lighten-warning-color: color-mix(in srgb, var(--warning-color), white 20%);
	--darken-warning-color: color-mix(in srgb, var(--warning-color), black 20%);
	--lighten-danger-color: color-mix(in srgb, var(--danger-color), white 20%);
	--darken-danger-color: color-mix(in srgb, var(--danger-color), black 20%);
}
