.form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	h1 {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}
	> fieldset {
		padding: 10px;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		background-color: #232323;
		border-radius: 10px;
		legend {
			padding: 4px 12px;
			font-weight: bold;
			background-color: #232323;
			border-radius: 10px;
			box-shadow: 0 0 3px 1px #444;
		}
	}
}
.form-item {
	display: flex;
	column-gap: 10px;
	label {
		flex-shrink: 0;
		min-width: 80px;
		font-size: 14px;
		line-height: 30px;
	}
	input {
		width: 0;
		&:not([type]),
		&[type="text"],
		&[type="number"],
		&[type="select"],
		&[type="color"] {
			flex: 1;
			padding: 0 6px;
			background-color: #111;
			line-height: 30px;
			border-radius: 4px;
			transition: box-shadow 0.2s;
			&:focus-within {
				box-shadow: 0 0 3px 1px var(--primary-color);
			}
		}
	}
	button {
		flex-shrink: 0;
		padding: 0 10px;
		font-size: 14px;
		line-height: 30px;
		.icon {
			color: #ccc;
			&.danger {
				color: var(--danger-color);
			}
			&.active {
				color: var(--primary-color);
			}
		}
		&:hover {
			background-color: #111;
		}
	}
}
button {
	&.success {
		flex: 1;
		flex-shrink: 0;
		padding: 0 10px;
		font-size: 14px;
		line-height: 30px;
		border-radius: 4px;
		transition: background-color 0.2s;
	}
	&.success {
		background-color: var(--success-color);
		&:hover {
			background-color: var(--darken-success-color);
		}
	}
}
